{
  "presets": [
    ["@babel/preset-env", {
      "loose": true,
      "targets": "edge >= 15, firefox >= 53, chrome >= 55, safari >= 11",
      "modules": false
    }]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ]
}
