name: E2E-Linux

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master
  schedule:
    # runs at 00:00 UTC at Sunday and Wednesday
    - cron: '0 0 * * 0,3'

jobs:
  test-e2e:
    name: ${{ matrix.target_features }} with Nodejs v${{ matrix.node_version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        node_version:
          - 18
        os:
          - ubuntu-latest
        target_features:
          - latest,webpack,babel
          - latest,webpack,typescript
          - latest,parcel,babel
          - latest,parcel,typescript
          - latest,dumber,babel
          - latest,dumber,typescript
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node_version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node_version }}
      - run: npm install
      - run: xvfb-run -a -s '-screen 0 1024x768x24' npm run test:e2e
        env:
          TARGET_FEATURES: ${{ matrix.target_features }}
